body {
  background-color: #D5DAFF;
}

.jumbotron {
  background-color: #8F9974;
  color: #FFF7BD;
}

.center-block {
  text-align: center;
}

form {
  max-width: 900px;
  margin: 15px;
}

.btn-refresh {
  margin-left: 15px;
}

.hideme {
  display: none;
  margin-top: 20px;
}

.img-responsive {
  padding: 5px;
  max-width: 50%;
}
